* {
  margin: 0;
  padding: 0;
  color: #fff;
  overflow: hidden;
}

body {
  position: relative;
  background: #00222b;
  filter: blur(4px);
}

canvas#canvas {
  display: block;
  border: 2px solid red;
  position: absolute;
  top: 0;
  left: 0;
}

.launchpad-web {
  z-index: 1000;
}
